<div>
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Positions</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in ulc.allUsers.list">
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.positions}}</td>
                <td><button ng-click="ulc.updateUser(user.id)">Edit</button></td>
                
            </tr>
            <tr>
                <td><input type="text" ng-model="ulc.newUser.firstName" placeholder="First Name"></td>
                <td><input type="text" ng-model="ulc.newUser.lastName"placeholder="Last Name"></td>
                <td><input type="text" ng-model="ulc.newUser.email" placeholder="Email"></td>
                <td><button ng-click="ulc.newUserSubmit()">Add New User</button></td>
            </tr>
        </tbody>
    </table>


</div>